<!-- <div>
    <h1>TO-DO-LIST</h1>
</div>


<div class="container">
  <div class="subcontainer">
    <input [(ngModel)]="task"  type="text" placeholder="What would you like to do today ?">
    <button  (click)="addTask()">Add</button>
  </div>


<ul>
  @for(task of tasks; track task.id){
    <li >
      <div class="subcontainer">
        <div class="row">
            <div class="col">
                <p>{{task.name}}</p>
    
            </div>
            <div class="colfunctions">
                <div class="col">
                    <button>Edit</button>
                </div>
                <div class="col">
                    <button>Delete</button>
                </div>
            </div>
    
        </div>
      </div>
    </li>
  }
  
</ul>
  


   

     
</div> -->