<div>
    <h1>TO-DO-LIST</h1>
</div>


<div class="container">
  <div class="subcontainer">
    <input [(ngModel)]="task"  type="text" placeholder="What would you like to do today ?">
    <button *ngIf="editIndex === null " (click)="addTask()">Add</button>
    <button *ngIf="editIndex !== null" (click)="updateTask()">Update</button>
    <app-button></app-button>

  </div>
  


<ul>
  @for(task of taskList; track task.id){
   
    <li  >
      <div class="subcontainer">
        
        <div class="row">
          <div class="id">
            <div><h1>{{task.id}} .</h1></div>
         
            <div class="colname">
              <p>{{task.name}}</p>
  
          </div>
          </div>

           
            <div class="colfunctions">
                <div class="col">
                    <button (click)="editTask(task.id-1)">Edit</button>
                </div>
                <div class="col">
                    <button (click)="deleteTask(task.id)">Delete</button>
                </div>
            </div>
    
        </div>
      </div>
    </li>
  }
  
</ul>
     
</div>