
     ul{
        list-style-type:none;
    }

    .container{
       padding-top: 10px;;
        display: flex;
        justify-content: center;
        background-color: antiquewhite;
        width: 40%;
        margin-top: 20px;

    }
    .subcontainer{
        width: 100%;
        display: flex;
        justify-content: space-between;


    }
    .one{
        display: flex;
        justify-content: space-between;
    }

    p{
        padding-top: 20px;
        margin-left: 5px;
    }

