h1{
    color: black;
    size: 200px;
}

button {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
  }

.add {
    background-color:rgb(102, 102, 140);
    color: white;
    border: none;
    padding: 10px 15px;
  }
  
  .edit {
    background-color: rgb(74, 5, 38);
    color: white;
    border: none;
    padding: 10px 15px;
  }
  
  .delete {

    background-color:rgb(216, 96, 21);
    color: white;
    border: none;
    padding: 10px 15px;
  }

  .update{
    background-color:rgb(13, 13, 14);
    color: white;
    border: none;
    padding: 10px 15px;

  }
  
  